@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

<h2>About</h2>

<div class="row">
    <div class="one-third column">
        <h3>About Skeleton?</h3>
        <p>Skeleton is a small collection of well-organized CSS &amp; JS files that can help you rapidly develop sites that look beautiful at any size, be it a 17" laptop screen or an iPhone. It's based on a responsive grid, but also provides very basic CSS for typography, buttons, tabs, forms and media queries. Go ahead, resize this super basic page to see the grid in action.</p>
        <h3>Three Core Principles</h3>
        <p>Skeleton is built on three core principles:</p>
        <ul class="square">
            <li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
            <li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
            <li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant toW be overwritten.</li>
        </ul>
    </div>
    <div class="one-third column">
        <h3>Docs &amp; By MaRioBoT</h3>
    </div>
</div>
