@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

<div class="row">
    <div class="three columns">
        <h1>Twilio</h1>
        <p>Servicio para enviar mensajes de texto, validaciones de autenticacion, hacer llamadas etc</p>
        <a href="@Url.Action("Index", "SendSMS")" target="_blank" class="button">Enviar Mensaje</a>
        <a href="@Url.Action("GetMessages", "SendSMS")" target="_blank" class="button">Mensajes Enviados</a>
    </div>
    <div class="three columns">
        <h1>ClockWorkSMS</h1>
        <p>Servicio para enviar mensajes de texto</p>
        <a href="@Url.Action("Index", "ClockWorkSMS")" target="_blank" class="button">Enviar Mensaje</a>
    </div>
</div>
<div class="row">
    <div class="four columns"></div>
    <div class="four columns"></div>
</div>



