@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Skeleton.cshtml";
}

<h2>Index</h2>

<h3>@Html.ActionLink("Enviar Mensajes de Texto","Index","SendSMS")</h3>

<a href="~/Content/Skeleton/_Examples/Form.html">Example Form</a>
<a href="~/Content/Skeleton/_Examples/Grid.html">Example Grid</a>
<a href="~/Content/Skeleton/_Examples/Typography.html">Example Typography</a>

<hr />

